*{
    margin: 0;
    padding: 0;
    font-family: 'Forum', sans-serif;
}

.wrapper{
    width: 1920px;
    margin: 0 auto;
}

.wr_header{
    background-color: #030303;
    width: 1920px;
}

header{
    width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 200px;
    background-color: #030303;
    color: white;
}

h1{
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 50px;
    /* identical to box height, or 179% */

    letter-spacing: 5px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.logo{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.logo_img{
    padding-right: 20px;
}


a{
    text-decoration: none;
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 50px;
    /* identical to box height, or 227% */

    letter-spacing: 2px;

    color: #FFFFFF;

}

nav ul li{
    display: inline-block;
    margin-right: 76px;
    
}

ul li a:hover {
    color: #cd6326ce;
    transition: all 0.4s ease;0
}

section{
    display: flex;
    justify-content: space-between;
}

.Welcome{
    background-color: #030303;
    width: 1920px;
    height: 750px;   
    background-image: url(/assets/img/welcome_bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.Welcome p{
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 28px;
    line-height: 33px;
    /* identical to box height */

    letter-spacing: 2px;

    color: #FFFFFF;
    margin-bottom: 76px;
}

.welcome_conntent{
    display: flex;
    width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
 
    
}

.welcome_bg{
    /* margin-left: 240px; */
}

h2{
    text-transform: uppercase;
}


.Welcome h2{
    margin-bottom: 26px;
}

.welcome_content_text h2{
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    /* identical to box height, or 112% */

    letter-spacing: 5px;
    text-transform: uppercase;

    color: #FFFFFF;
    z-index: 15;
}

.Welcome button{

    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 26px;
    display: flex;
    align-items: center;
    
    letter-spacing: 2px;

    color: #FFFFFF;

    /* padding: 9px 24px; */
    height: 75px;
    width: 360px;
    
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 5px;
    margin-right: 120px;
    background-color: #710707;
    border: 2px solid #710707;
    text-align: center;
    padding-left: 65px;
}


.Welcome button:hover {
    background-color: #cd6326ce;
    transition: all 0.4s ease;
  }


.Visiting{
    background-color: #FFF;
    width: 1920px;
    height: 1265px; 
}

.Visiting h2{
    display: flex;
}

.Visiting_content{
    /* display: flex; */
    width: 1440px;
    margin: 0 auto;
    /* align-items: center;
    justify-content: space-between; */
    padding-top: 75px;
}

.Visiting_content h2{
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    /* identical to box height, or 112% */
    
    letter-spacing: 5px;
    text-transform: uppercase;
    
    color: #9D8665;
    padding-bottom: 25px;
}

.cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.card{
    padding-bottom: 75px;
}

h3{
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 5px;
    text-transform: uppercase;

    color: #000000;
}

.Visiting_content p{
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 26px;
    /* identical to box height */
    


    color: #000000;
}

.Visiting_content p.Google{
    font-size: 18px;
    padding-top: 10px;
}

.Visiting_content img.name{
    padding-bottom: 25px;
}


.hr_tour{
    padding-bottom: 75px;
}

.Explore{
    background-color: #030303;
    width: 1920px;
    height: 865px;   
}

.Explore_content{
   
    width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.Explore_content h2{
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    /* identical to box height, or 112% */

    letter-spacing: 5px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.Explore_content p{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 38px;
    /* or 175% */
    
    
    color: #FFFFFF;
    padding-bottom: 25px;
}


.img2{
    display: none;
}

.Explore_content img{
    padding-bottom: 75px;
    padding-top: 25px;
}

.c1{
    padding-top: 75px;
    width: 660px;
}

.c2{
    padding-top: 60px;
}

.Explore_content span{
    color: #CAAA7D;
}

.Video{
    background-color: #FFF;
    width: 1920px;
    height: 990px;   
}

.video_content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 90px;
}

.Video h2{
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    /* identical to box height, or 112% */

    letter-spacing: 5px;
    text-transform: uppercase;

    color: #9D8665;
    padding-right: 150px;
}

.Video p{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 38px;
    /* or 175% */

   
    color: #000000;

}

.v2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 75px;

}

.Video img{
    padding-bottom: 40px;
}


.Tickets{
    background-color: #000;
    width: 1920px;
    height: 893px;   
}

.tickets_content{
    width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.tickets_content h2{
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    /* identical to box height, or 112% */

    letter-spacing: 5px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.Tickets p{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    /* identical to box height */
    
    
    color: #FFFFFF;
    padding-bottom: 50px;

}

label{
    color: #FFF;
    display: flex;
    flex-direction: row;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    /* identical to box height */
    color: #FFF;
    padding-bottom: 49px;
}

.Contacts{
    background-color: #FFF;
    width: 1920px;
    height: 900px;   
}

.contacts_content{
    width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.Contacts h2{
    font-family: Forum;
font-style: normal;
font-weight: normal;
font-size: 80px;
line-height: 90px;
/* identical to box height, or 112% */

letter-spacing: 5px;
text-transform: uppercase;

color: #9D8665;

}

footer{
    display: flex;
    width: 1920px;
    height: 300px;
    background-color: black;
}

.footer_content{
    width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}